.navbar {
  position: fixed;
  background-color:#040504;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.navbarChannels {
  background-color:#040504;
  padding: 0 20px;
  min-height: 50px;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
}
.navbar img {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  filter: brightness(70%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
 @media  (max-width:700px) {
  .navbarChannels {
    width: 100vw;
    gap: 10px;
    min-height: 60px;
    padding: 0 0px;
  }
  .navbarChannels img {
    width: 50px;
    filter: brightness(70%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
 }

 .logo{
  position: absolute;
  left: 18px;
  top: 8px;
}
.plus{
  position: absolute;
  right: 8px;
  top: 8px;
}

.navbar img:hover {
  filter: brightness(100%);
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}

