.site {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  width: 70vw;
  max-width: 1000px;
  flex-direction: column;
  box-shadow: 0 0 5px #530101;
}

.buttonsSection {
  display: flex;
  gap: 10px;
  overflow: hidden;
}
.button {
  border: none;
  font-size: 0.8rem;
  background: #ff0026;
  padding: 5px;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.button:hover {
  scale: 1.05;
  transition: all 0.2s ease-in-out;
}

.formContainer {
  display: flex;
  color: #c6c6c6;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  color: #c6c6c6;
  border-radius: 12px;
}

.formCall {
  display: block;
  background: #ff0026;

  padding: 8px 28px;
  color: #ffff;
  font-size: medium;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.formCall:hover {
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}
.formInputs {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  background-color: #040504;
  width: 200px;
  max-width: 70vw;
  color: #c6c6c6;
  padding: 15px;
}

.error {
  font-size: 1em;
  color: #ff0026;
  font-weight: 500;
}

.warring {
  font-size: small;
  font-weight: 200;
}
